meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Diagnóstico de los recursos naturales de la comunidad étnica
meta(meta name="description" content="Las problemáticas ambientales de las comunidades étnicas del país permiten la identificación de líneas de acción como el reconocimiento de los saberes y prácticas locales, la participación y el uso de la información en la investigación participativa.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")