h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/intro/')
                    +navTemaItem('1', 'Normativa ambiental nacional e internacional', 'main.html#page/normativa/')
                    +navTemaItem('2', 'Recursos naturales', 'main.html#page/recursos/')
                    +navTemaItem('3', 'Investigación con enfoque participativo', 'main.html#page/investigacion/')
                    +navTemaItem('4', 'Técnicas de recolección de información', 'main.html#page/tecnicas1/')