.container#investigacion

    .header-ecored
        h1 3. Investigación con enfoque participativo
    
    img(src="assets/images/pages/img4.png", style="max-width: 100%").img-fluid.img-a1
    
    .card.shadow
        .card-body.bg-color2
            p Según Borda (1991) se define el papel de la Investigación de Acción Participación (IAP), es ayudar a sistematizar esa ciencia ya existente y los nuevos conocimientos que se vayan produciendo en orden de la organización del saber popular, con la participación activa de los actores sociales que conforman esa comunidad. No se trata de investigar con participación, sino que se investiga en la acción como elemento esencial; es decir, con acción participación, la cual colabora en la construcción del saber popular” (Pág. 76).
            p.mt-4 Así mismo, Rahman y Fals Borda (1991), al hacer un balance de 20 años de desarrollos de esta opción de investigación, señalan que la IAP debe verse en la actualidad “como un puente hacia otras formas de explicación de la realidad y otras formas más satisfactorias de acción para transformarla, como procedimiento heurístico de investigación y como modo de vida altruista, puede perseguir y alcanzar esta meta” (pag.130).
    
    br#tipos1

    .header-ecored
        h2 3.1 Tipos
    
    .jumbotron.bg-white.shadow
        p.mb-0 Se basa en una reflexión y una serie de prácticas que se proponen incluir a todos los participantes de una comunidad en la creación de conocimiento científico sobre sí mismos, los cuales se mencionarán a continuación:
    
    br#tecnicas

    .header-ecored
        h2 3.2 Técnicas y métodos
    
    .jumbotron.bg-white.shadow
        .row.align-items-center
            .col-auto
                img(src="assets/images/pages/img5.png", style="max-width: 60%").img-fluid.img-a
            .col
                p Todas las investigaciones despliegan distintos enfoques para establecer una relación con su objeto de estudio, dependiendo del enfoque se tiende a la valoración de ciertas características del objeto investigado. De este modo, este enfoque de carácter participativo y en relación con la formación ambiental, han sido reseñado por Rivera (2016) bajo los siguientes supuestos:
        .row.justify-content-center
            .col-11
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 #[b Histórico-lógico:]
                        p Posibilita analizar diferentes criterios y profundizar en la evolución, tendencias y generalizaciones del desarrollo de la educación ambiental. 
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 #[b Análisis documental:]
                        p Se utiliza para obtener información acerca de cómo se comporta el proceso de educación ambiental en la comunidad investigada y cómo se planifica, organiza y ejecuta acciones para el mejoramiento del mismo.
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 #[b Etnográfico:]
                        p Permite conocer el modo de vida de los pobladores de la comunidad objeto de estudio, sus costumbres, su cultura, estilos de vida, así como sus manifestaciones hacia la educación ambiental.
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 #[b Investigación- acción-participación:]
                        p facilita la participación integrada en la obtención de resultados fiables y útiles para mejorar la situación de la comunidad, a través de la participación y construcción conjunta de los participantes en el proceso (pág. 156).
    
    br#practicas

    .header-ecored
        h2 3.3 Prácticas y cosmovisión
    
    .jumbotron.bg-color2.shadow
        .row.align-items-center
            .col
                p.mb-0 La alta diversidad étnica de los pueblos indígenas resalta su gran variedad de expresiones culturales que contribuyen a la preservación y mantenimiento de los conocimientos, innovaciones y prácticas e incorporan estilos de vida tradicionales que, han sido fundamentales para la conservación y uso sostenible de la diversidad biológica. Es gracias a las comunidades indígenas que se puede manifestar que la conservación de los recursos naturales de la nación depende en gran medida de ellas, pues, como manifiestan Acosta y Mendoza (2007): “El conocimiento tradicional es fundamental en la construcción del desarrollo sostenible en la amazonia colombiana (pág. 101).
            .col-auto
                img(src="assets/images/pages/img6.png", style="max-width: 60%").img-fluid.img-a