include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Aplicación de investigación de recursos naturales en comunidades étnicas
        meta(meta name="description" content="Ruta de aprendizaje programa Aplicación de investigación de recursos naturales en comunidades étnicas.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Aplicación de investigación de recursos naturales en comunidades étnicas
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Aplicación de investigación de recursos naturales en comunidades étnicas
                                        li 
                                            span #[strong Código:] 41750026
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] se requiere que el aprendiz tenga dominio de elementos básicos en el manejo de herramientas informáticas y de comunicación como: correo electrónico, chats, procesadores de texto, software para presentaciones, navegadores de internet y herramientas tecnológicas necesarias para la formación en ambientes virtuales.


                    

                            .col-12.col-lg-6.text-center
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_media.png").curso-imagen      


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Bienvenidos al  programa de formación complementaria virtual denominado aplicación de la investigación de recursos naturales en comunidades étnicas, el cual fortalecerá las capacidades conceptuales y metodológicas, para reconocer  e involucrar los saberes técnicos y tradicionales de las personas participantes en actividades de investigación y manejo de los recursos naturales.

                p Este programa se orienta hacia la identificación de líneas de acción como el reconocimiento de los saberes y prácticas locales, la participación y el uso de la información para el aprovechamiento sostenible de los recursos naturales y una mayor compresión de las problemáticas ambientales de las comunidades étnicas del país.  



        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 A partir de la Constitución Política de 1991 se reconoce y protege la diversidad étnica y cultural de la nación colombiana, consagrando para estas comunidades, derechos étnicos, culturales, territoriales, de autonomía y participación, tales como: la igualdad y dignidad de todas las culturas como fundamento de la identidad nacional (Carvajal, 2015).
                
                p En este sentido, contar con herramientas participativas para el registro de información que conjuguen el conocimiento tradicional con los elementos técnicos y que a su vez permitan el análisis para la toma de decisiones concertadas en el uso y manejo de los recursos naturales, se constituye en una necesidad en las comunidades étnicas del país. Por ende, este es un programa de formación complementaria orientado en la investigación local, propiciando un espacio para el diálogo e intercambio  entre el conocimiento científico académico  y el tradicional local,  donde  las  comunidades étnicas pueden  recuperar, mantener  y conocer  aspectos de su cultura tradicional y a los  investigadores  académicos  les permita  acercarse  a los conocimientos  tradicionales sobre los  recursos  naturales y el uso que le dan las comunidades  étnicas (Van der Hammen, et al, 2012).

                p Por consiguiente, el programa de formación complementaria denominado: aplicación de la investigación de recursos naturales en comunidades étnicas tiene por objeto fortalecer las capacidades conceptuales y metodológicas, reconociendo e involucrando los saberes técnicos y tradicionales de las personas participantes en actividades de investigación y manejo de los recursos naturales. El programa se orienta hacia la identificación de líneas de acción como el reconocimiento de los saberes y prácticas locales, la participación y el uso de la información para el aprovechamiento sostenible de los recursos naturales y una mayor compresión de las problemáticas ambientales de las comunidades étnicas del país.   

                p La investigación local fomentada por el SENA a través de la formación complementaria facilitará la construcción de procesos pedagógicos en los habitantes de las comunidades étnicas del país, formando aprendices como agentes de transformación de la realidad social de sus comunidades, permitiendo obtener nuevos conocimientos, responder preguntas y aplicar los conocimientos obtenidos.  





        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Comunidades cuyas condiciones o prácticas sociales, culturales y económicas, los distinguen del resto de la sociedad, que han mantenido su identidad a lo largo de la historia, como sujetos colectivos que aducen un origen, una historia y unas características culturales propias, que están dadas en sus cosmovisiones, costumbres y tradiciones. 

        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de los procesos formativos   en el marco de la formación por competencias, el aprendizaje por proyectos y el  uso de  técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en la utilización de las tecnologías de la información y la comunicación, integradas, en ambientes abiertos y pluritecnológicos, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 
                
                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:

                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





